:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
  --line: 1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to right bottom, var(--color-primary-dark), var(--color-primary-light));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.search {
  display: flex;
  align-items: center;
  position: relative; }
  .search__input {
    font: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    width: 80%;
    margin-right: -3rem;
    padding: 0.7rem 2rem;
    outline: 0;
    border: none;
    border-radius: 100px;
    transition: all 0.2s; }
    .search__input::-webkit-input-placeholder {
      color: var(--color-grey-light-4);
      text-transform: capitalize; }
    .search__input:focus {
      width: 100%;
      background-color: var(--color-grey-light-3); }
  .search__button {
    height: 3rem;
    width: 3rem;
    border: 0;
    outline: 0;
    background-color: transparent; }
  .search__icon {
    height: 2rem;
    width: 2rem;
    transform: scale(1);
    fill: var(--color-grey-dark-3);
    transition: all 0.2s; }
  .search__input:focus + .search__button .search__icon {
    transform: scale(1);
    fill: var(--color-grey-dark-2); }

.user-nav {
  display: flex;
  align-items: center; }
  .user-nav__icon-box, .user-nav__user {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center; }
    .user-nav__icon-box:hover, .user-nav__user:hover {
      background-color: var(--color-grey-light-2); }
  .user-nav__icon {
    width: 2.25rem;
    height: 2.25rem; }
  .user-nav__notification {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    background-color: var(--color-primary-light);
    border-radius: 100px;
    color: #fff;
    border: 2px solid #fff;
    box-sizing: content-box;
    position: absolute;
    top: 1.25rem;
    right: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center; }
  .user-nav__user-img {
    height: 4rem;
    border-radius: 50%;
    margin-right: 1rem; }

.review {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 2rem; }
  .review:not(:last-child) {
    margin-bottom: 2rem; }
  .review__text {
    position: relative;
    margin-bottom: 2rem;
    z-index: 100; }
    .review__text::before {
      content: '\201C';
      position: absolute;
      font-size: 20rem;
      line-height: 1;
      top: -4rem;
      left: -1.5rem;
      color: var(--color-grey-dark-3);
      font-family: sans-serif;
      opacity: 0.2;
      z-index: 2; }
  .review__user {
    display: flex;
    align-items: center; }
  .review-rating {
    font-size: 1.6rem;
    font-weight: 300;
    color: var(--color-primary); }

.review__user-img {
  width: 4rem;
  display: block;
  border-radius: 50%;
  margin-right: 1rem; }
.review__user-box {
  display: flex;
  flex: 1;
  flex-direction: column; }
.review__user-name {
  font-weight: 600; }
.review__user-date {
  color: var(--color-grey-dark-2); }

.btn {
  text-decoration: none;
  display: inline-block;
  color: var(--color-primary);
  text-align: center;
  padding-bottom: 3px;
  border-bottom: 1px solid currentColor;
  transition: all 0.3s; }
  .btn > span {
    transition: all 0.2s; }
  .btn:hover {
    color: var(--color-primary-dark);
    transition: all 0.3s; }
    .btn:hover > span {
      transition: all 0.3s;
      display: inline-block;
      transform: translateX(5px); }

.container {
  max-width: 104rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  min-height: 50rem;
  box-shadow: var(--shadow-dark); }
  @media (max-width: 1020px) {
    .container {
      margin: 0; } }

.header {
  font-size: 1.4rem;
  background-color: #fff;
  border-bottom: var(--line);
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header__logo {
    height: 3.5rem;
    margin-left: 2rem; }
  .header__search {
    flex: 0 0 40%; }
  .header__nav {
    align-self: stretch; }

.main {
  display: flex; }
  .main__sidebar {
    flex: 0 0 20%; }
    @media (max-width: 800px) {
      .main__sidebar {
        flex: 0 0 10%; } }
  .main__content {
    flex: 1; }

.cta {
  padding: 3rem 0;
  text-align: center; }
  .cta__content {
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 1rem; }
  .cta__book {
    text-decoration: none;
    text-align: center;
    border: 0;
    font-size: 1.6rem;
    background-image: linear-gradient(to right, var(--color-primary-dark), var(--color-primary-light));
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100px;
    position: relative;
    color: #fff;
    padding: 1rem;
    outline: 0;
    cursor: pointer;
    box-shadow: var(--shadow-dark);
    transition: all 0.3s;
    z-index: 10; }
    .cta__book:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      display: inline-block;
      width: 100%;
      height: 100%;
      border-radius: 100px;
      background-color: var(--color-primary);
      z-index: -1;
      opacity: 1;
      transition: all 0.3s; }
    .cta__book > * {
      transition: all 0.3s;
      display: inline-block; }
    .cta__book:hover {
      background-image: linear-gradient(to right bottom, var(--color-primary-dark), var(--color-primary-light));
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
    .cta__book:hover:after {
      opacity: 0;
      transform: scale(1.4); }
    .cta__book--invisible {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -5rem);
      opacity: 0;
      visibility: hidden;
      width: 100%; }
    .cta__book:hover .cta__book--invisible {
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 1;
      visibility: visible; }
    .cta__book:hover .cta__book--visible {
      transform: translateY(3rem);
      opacity: 0;
      visibility: hidden; }

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--color-grey-dark-1); }
  @media (max-width: 600px) {
    .sidebar {
      display: none; } }
  .sidebar__nav {
    list-style: none;
    margin-top: 3rem; }
  .sidebar__item {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color: #fff;
    padding: 1.2rem;
    padding-left: 20%;
    cursor: pointer; }
    @media (max-width: 800px) {
      .sidebar__item {
        padding: 1.2rem;
        font-size: 1.2rem;
        justify-content: center; }
        .sidebar__item > span {
          display: none; } }
    .sidebar__item:not(:last-child) {
      margin-bottom: 0.8rem; }
    .sidebar__item--active {
      background-color: var(--color-primary-light); }
  .sidebar__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 1rem;
    fill: currentColor; }

.content__gallery {
  display: flex; }
  @media (max-width: 600px) {
    .content__gallery {
      display: block; } }
.content__hotel-img {
  width: 100%;
  height: auto;
  display: block; }

.overview {
  display: flex;
  align-items: center;
  box-shadow: var(--shadow-light); }
  .overview__heading {
    font-weight: 300;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem; }
    @media (max-width: 600px) {
      .overview__heading {
        padding: 1.5rem 2rem;
        font-size: 1.6rem; } }
  .overview__stars {
    display: flex;
    margin-right: auto; }
  .overview__star {
    width: 1.8rem;
    height: 1.8rem;
    fill: var(--color-primary); }
  .overview__location {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    color: var(--color-primary-dark); }
    .overview__location-icon {
      width: 2rem;
      height: 2rem;
      fill: currentColor;
      margin-right: 0.8rem; }
    .overview__location-name {
      color: inherit;
      padding-bottom: 2px;
      border-bottom: 1px solid currentColor;
      transition: all 0.2s;
      cursor: pointer; }
      .overview__location-name:hover {
        color: var(--color-primary-dark); }
  .overview__rating {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1.5rem;
    background-color: var(--color-primary-light);
    color: #fff;
    font-size: 1.6rem; }
    .overview__rating-count {
      font-size: 1rem; }

.animation__breath:hover {
  animation: breath 2s infinite ease; }

@keyframes breath {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
.detail {
  display: flex;
  padding: 3rem; }
  @media (max-width: 800px) {
    .detail {
      padding: 0; } }
  @media (max-width: 600px) {
    .detail {
      flex-direction: column;
      align-items: center; } }

.user-reviews {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (max-width: 600px) {
    .user-reviews {
      flex: 0 0 100%;
      margin: 3rem; } }

.description {
  flex: 0 0 50%;
  padding: 2rem;
  background-color: #fff;
  box-shadow: var(--shadow-light);
  border-radius: 4px; }
  @media (max-width: 600px) {
    .description {
      flex: 0 0 100%; } }
  .description__text {
    font-weight: 600;
    margin-bottom: 2rem; }
  .description__list {
    border-bottom: var(--line);
    border-top: var(--line); }
    .description__list ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 2rem;
      margin-top: 2rem; }
  .description__item {
    flex: 0 0 50%;
    padding: 0.5rem 1.5rem; }
    .description__item::before {
      content: "";
      display: inline-block;
      height: 1rem;
      width: 1rem;
      margin-right: 1rem;
      background-color: var(--color-primary);
      mask-image: url(../img/chevron-thin-right.svg);
      -webkit-mask-image: url(../img/chevron-thin-right.svg);
      -webkit-mask-size: cover;
      mask-size: cover; }
  .description__recommend {
    margin-top: 2rem; }

.recommend {
  display: flex;
  align-items: center;
  font-size: 1.2rem; }
  .recommend__content {
    margin: 1rem 2rem;
    margin-right: auto;
    flex: 1; }
  .recommend__friends {
    display: flex; }
    .recommend__friends > img {
      height: 4rem;
      width: auto;
      border-radius: 50%;
      border: 2px solid #fff;
      box-sizing: content-box;
      transition: all 0.2s ease; }
      .recommend__friends > img:not(:last-child) {
        margin-right: -1.5rem; }
      .recommend__friends > img:hover {
        transform: scale(1.2); }

/*# sourceMappingURL=main.css.map */
