
.search {

  display: flex;
  align-items: center;
  position: relative;

  &__input {

    font: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);

    width: 80%;
    margin-right: -3rem;
    padding: 0.7rem 2rem;
    outline: 0;
    border: none;
    border-radius: 100px;
    transition: all 0.2s;

    &::-webkit-input-placeholder {
      color: var(--color-grey-light-4);
      text-transform: capitalize;
    }


    &:focus {
      width: 100%;
      background-color: var(--color-grey-light-3);

    }

  }

  &__button {

    height: 3rem;
    width: 3rem;
    border: 0;
    outline: 0;
    background-color: transparent;

  }

  &__icon {
    height: 2rem;
    width: 2rem;
    transform: scale(1) ;
    fill: var(--color-grey-dark-3);
    transition: all 0.2s;

  }

  &__input:focus + &__button &__icon {
    transform: scale(1);
    fill: var(--color-grey-dark-2);


  }

}

