.detail {
    display: flex;
}

.description {
    flex: 0 0 60%;
    margin: 3rem;
    padding: 2rem;
    background-color: #fff;
    box-shadow: var(--shadow-light);

    @media (max-width: 738px) {
        flex: 0 0 100%;
    }

    &__text {
        font-weight: 600;
        margin-bottom: 2rem;


    }

    &__list {
        border-bottom:var(--line) ;
        border-top:var(--line) ;


        & ul {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 2rem;
            margin-top: 2rem;
        }
    }

    &__item {
        flex: 0 0 50%;
        padding:  0.5rem 1.5rem;

        &::before {
            content: "";
            display: inline-block;
            height: 1rem;
            width: 1rem;
            margin-right: 1rem;

            background-color: var(--color-primary);
            mask-image: url(../img/chevron-thin-right.svg);
            -webkit-mask-image: url(../img/chevron-thin-right.svg);
            -webkit-mask-size: cover;
            mask-size: cover;
        }
    }

    &__recommand {

    }

}

.recommend {
    display: flex;
    align-items: center;
    font-size: 1.2rem;

    &__content {
        margin: 1rem 2rem;
        margin-right: auto;
        flex: 1;
    }

    &__friends {
        display: flex;

        & > img {
            height: 4rem;
            width: auto;
            border-radius: 50%;
            border: 2px solid #fff;
            box-sizing: content-box;

            &:not(:last-child) {
                margin-right: -1.5rem;
            }
        }
    }

}