.container {
  max-width: 104rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  min-height: 50rem;
  box-shadow: var(--shadow-dark);

  @media (max-width: 1020px) {
    margin: 0;
  }


}

.header {
  font-size: 1.4rem;
  background-color: #fff;
  border-bottom: var(--line);
  height: 7rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    height: 3.5rem;
    margin-left: 2rem;
  }


  &__search {
    flex: 0 0 40%;

  }

  &__nav {
    align-self: stretch;

  }


}

.main {
  display: flex;

  &__sidebar {
    flex: 0 0 20%;

    @media (max-width: 800px) {
      flex: 0 0 10%;
    }
  }

  &__content {
    flex: 1;

  }

}

.cta {
  padding: 3rem 0;
  text-align: center;

  &__content {
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  &__book {
    text-decoration: none;
    text-align: center;
    border: 0;
    font-size: 1.6rem;
    background-image: linear-gradient(to right, var(--color-primary-dark), var(--color-primary-light));
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100px;
    position: relative;
    color: #fff;
    padding: 1rem;
    outline: 0;
    cursor: pointer;
    box-shadow: var(--shadow-dark);
    transition: all 0.3s;
    z-index: 10;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      display: inline-block;
      width: 100%;
      height: 100%;
      border-radius: 100px;

      background-color: var(--color-primary);
      z-index: -1;
      opacity: 1;
      transition: all 0.3s;

    }

    & > * {
      transition: all 0.3s;
      display: inline-block;
    }

    &:hover {
      background-image: linear-gradient(to right bottom, var(--color-primary-dark), var(--color-primary-light));
      box-shadow: 0 1rem 2rem rgba(0,0,0,0.3);
    }

    &:hover:after {
      opacity: 0;
      transform: scale(1.4);
    }

    &--invisible {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -5rem);
      opacity: 0;
      visibility: hidden;
      width: 100%;
    }

    &:hover   &--invisible {
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 1;
      visibility: visible;

    }
    &:hover   &--visible {
      transform: translateY(3rem);
      opacity: 0;
      visibility: hidden;
    }


  }


}







