.content {

    &__gallery {
        display: flex;


        @media (max-width: 600px) {
            display: block;
        }
    }

    &__hotel {
    }

    &__hotel-img {
        width: 100%;
        height: auto;
        display: block;
    }
}

.overview {
    display: flex;
    align-items: center;
    box-shadow: var(--shadow-light);

    &__heading {
        font-weight: 300;
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;

        @media (max-width: 600px) {
            padding:  1.5rem 2rem;
            font-size: 1.6rem;
        }

    }

    &__stars {
        display: flex;
        margin-right: auto;
    }

    &__star {
        width: 1.8rem;
        height: 1.8rem;
        fill: var(--color-primary);
    }


    &__location {
        display: flex;
        align-items: center;
        padding: 0 3rem;
        color: var(--color-primary-dark);

        &-icon {
            width: 2rem;
            height: 2rem;
            fill: currentColor;
            margin-right: 0.8rem;
        }

        &-name {
            color: inherit;
            padding-bottom: 2px;
            border-bottom: 1px solid currentColor;
            transition: all 0.2s;
            cursor: pointer;

            &:hover {
                color: var(--color-primary-dark);
            }
        }

    }

    &__rating {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 1.5rem;
        background-color: var(--color-primary-light);
        color: #fff;
        font-size: 1.6rem;

        &-average {
        }

        &-count {
            font-size: 1rem;
        }
    }

}


.animation {
    &__breath:hover {
        animation: breath 2s infinite ease;
    }
}


@keyframes breath {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}

